@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c--p__";

#{$css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  padding: 25px 0;
  margin-bottom: 60px;
}

#{$css_prefix}main-dark {
  color: #fff;
}
