@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c--p__";

#{$css_prefix}main {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
