@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c--p__";

#{$css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px 10px 10px;
}

#{$css_prefix}main-dark {
  // color: #fff;
  color: $color-font-dark;
}

#{$css_prefix}inner-main {
  max-width: 800px;
  margin-top: 24px;
}

#{$css_prefix}project-main {
  @include glass-light;

  padding: 20px;

  border-radius: 20px;
  margin-bottom: 10px;
}

#{$css_prefix}project-main-dark {
  @include glass-dark;
}

#{$css_prefix}project-header {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

#{$css_prefix}project-header-icon {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
}

#{$css_prefix}project-header-button-main {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#{$css_prefix}project-header-button {
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

#{$css_prefix}project-image {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  margin: 15px 0 10px 0;
}

#{$css_prefix}project-description {
  line-height: 1.2em;
  margin-bottom: 10px;
}

#{$css_prefix}feature {
  margin-bottom: 5px;
}

#{$css_prefix}project-footer {
  padding-top: 10px;
  // line-height: 1.2em;
}

#{$css_prefix}project-ts-container {
  @include display-flex-center;

  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

#{$css_prefix}project-ts-item {
  display: flex;
  align-items: center;
  // border: 1px solid slategrey;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px 10px;

  border: 1px solid;
  &:last-of-type {
    margin-right: 0;
  }
}

#{$css_prefix}project-ts-item-title {
  margin: 5px 0 0 5px;
}

#{$css_prefix}project-ts-item-icon {
  width: 20px;
  height: 20px;
}
