@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "c--c--b__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  @include select-none;
  display: flex;
  align-items: center;

  padding: 10px 12px 6px 12px;
  width: fit-content;
  cursor: pointer;
}

#{$class_css_prefix}max-width {
  width: 100%;
}

#{$class_css_prefix}main-light {
  @include background-animation-dark;
  border-bottom: 4px solid $accentColor30;

  background-color: rgba($color: $accentColor30, $alpha: 0.3);
  &:hover {
    #{$class_css_prefix}title {
      color: $color-font-light;
    }
  }
}

#{$class_css_prefix}main-dark {
  @include background-animation-light;
  background-color: rgba($color: $accentColor10, $alpha: 0.3);
  border-bottom: 4px solid $accentColor10;

  &:hover {
    background-color: rgba($color: $accentColor10, $alpha: 1);

    #{$class_css_prefix}title {
      color: $color-font-dark;
    }
  }
}

#{$class_css_prefix}main-with-shadow {
  @include box-shadow-ver2;
}

#{$class_css_prefix}title {
  margin-top: 3px;
  font-family: "Plain Ultra Bold";
  flex: 1;
}

#{$class_css_prefix}body {
  margin-left: 10px;
}
