@import 'src/sass/colors';
@import 'src/sass/variables';

$css_prefix: 'c--c--d__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  @include box-shadow-ver1;

  position: absolute;
  top: 60px;
  right: 5px;
  min-width: 150px;
  padding: 5px 10px;
  border-radius: 4px;
}

#{$class_css_prefix}link-main {
  text-decoration: none;
}

#{$class_css_prefix}dark {
  background-color: $color-background-dark;
}

#{$class_css_prefix}light {
  background-color: $color-background-light;
}

#{$class_css_prefix}dark-item {
  color: $color-font-light;

  &:hover {
    color: $color-font-dark;
  }
}

#{$class_css_prefix}light-item {
  color: $color-font-dark;
}

#{$class_css_prefix}item-main {
  display: flex;
  align-items: center;
  padding: 6px 8px 3px 8px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 5px;

  --c: #90fe22; /* the color */
  background: linear-gradient(90deg, #fff 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;

  &:hover {
    --_p: 100%;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

#{$class_css_prefix}item-title {
  font-family: 'Ultra Bold';
}
