$color-grey-500: #f0f0f0;

$color-background-light: #ecf0f1;
$color-background-dark: #151210;

// Green.
$color-green-700: #00a86b;
$color-green-600: #50c878;
$color-green-300: #d1e231;
$color-green-400: #93c572;

$color-dark-800: #131418;

// Palette Triad.
$color-cyan-700: #007cc0; // alienware blue.
$color-violet-red-500: #c0007c;
$color-apple-green-400: #7cc000;

$maxWidth: 1500px;
