$color-font-light: #f0e7f4;
$color-font-dark: #151210;

$maxWidth: 1500px;

// $accentColor10: #90fe22;
$accentColor10: #95f071;
// $accentColor30: #ff3f02;
$accentColor30: #338e0f;

$color-background-light: #dfd3c3;
$color-background-dark: #141414;
// $color-background-dark: lightgray;
$border: #585858;
