@font-face {
  font-family: 'Fira Bold';
  src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Extra Bold';
  src: url('../fonts//FiraSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Extra Light';
  src: url('../fonts/FiraSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Light';
  src: url('../fonts/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Medium';
  src: url('../fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Regular';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Semi Bold';
  src: url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Thin';
  src: url('../fonts/FiraSans-Thin.ttf') format('truetype');
}
