@font-face {
  font-family: 'Light';
  src: url('../fonts/PPNeueMachina-InktrapLight.otf');
}

@font-face {
  font-family: 'Light Italic';
  src: url('../fonts/PPNeueMachina-InktrapLightItalic.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('../fonts/PPNeueMachina-InktrapRegular.otf');
}

@font-face {
  font-family: 'Regular Italic';
  src: url('../fonts/PPNeueMachina-InktrapRegularItalic.otf');
}

@font-face {
  font-family: 'Ultra Bold';
  src: url('../fonts/PPNeueMachina-InktrapUltrabold.otf');
}

@font-face {
  font-family: 'Ultra Bold Italic';
  src: url('../fonts/PPNeueMachina-InktrapUltraboldItalic.otf');
}

@font-face {
  font-family: 'Plain Light';
  src: url('../fonts/PPNeueMachina-PlainLight.otf');
}

@font-face {
  font-family: 'Plain Light Italic';
  src: url('../fonts/PPNeueMachina-PlainLightItalic.otf');
}

@font-face {
  font-family: 'Plain Regular';
  src: url('../fonts/PPNeueMachina-PlainRegular.otf');
}

@font-face {
  font-family: 'Plain Ultra Bold';
  src: url('../fonts/PPNeueMachina-PlainUltrabold.otf');
}

@font-face {
  font-family: 'Plain Ultra Bold Italic';
  src: url('../fonts/PPNeueMachina-PlainUltraboldItalic.otf');
}
