@import 'src/sass/fonts';
@import 'src/sass/colors';

html {
  // background-color: #f9fafb;
  background-color: $color-background-light;
  font-family: 'Plain Light';
  // font-family: 'Fira Bold';
}

body {
  margin: 0;
  padding: 0;
}
