@mixin pill() {
  content: "";
  position: absolute;
  width: 100%;
  height: 12%;
  background: $color;
  border-radius: 3px;
  transition: all 0.5s cubic-bezier(0.1, 0.9, 0, 1.2);
}

@mixin select-none {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  -khtml-user-select: none; /* Konqueror HTML */
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@mixin glass() {
  position: relative;
  background: inherit;
  overflow: hidden;
  // box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -20px;
    box-shadow: inset 0 0 500px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    z-index: -1;
  }
}

@mixin display-flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow-ver1() {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin box-shadow-ver2() {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin neomorph-light() {
  background: linear-gradient(145deg, #c9beb0, #efe2d1);
  box-shadow: 5px 5px 10px #beb3a6, -5px -5px 10px #fff3e0;
}

@mixin none() {
  background: inherit;
  box-shadow: none;
}

@mixin neomorph-dark() {
  background: linear-gradient(145deg, #121212, #151515);
  box-shadow: 5px 5px 10px #111111, -5px -5px 10px #171717;
}

@mixin background-animation-light() {
  --c: #90fe22;
  background: linear-gradient(90deg, #fff 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;

  &:hover {
    --_p: 100%;
  }
}

@mixin background-animation-dark() {
  --c: #ff3f02;
  background: linear-gradient(90deg, #fff 50%, var(--c) 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) 100% no-repeat;

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;

  &:hover {
    --_p: 100%;
  }
}
