@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "a--i--l__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  cursor: pointer;
  top: 0;
  position: relative;
  transition: top 500ms ease;

  &:hover {
    top: -5px;
    transition: top 500ms ease;
  }
}

#{$class_css_prefix}linkedin {
  stroke: slategray;
}

#{$class_css_prefix}linkedin-dark {
  stroke: $accentColor10;
}

#{$class_css_prefix}linkedin-light {
  stroke: $accentColor30;
}
