@import 'src/sass/colors';
@import 'src/sass/variables';

$css_prefix: 'c--c--h-i__';
$class_css_prefix: '.#{$css_prefix}';

$color: #ff3f02;
$size: 32px;

#{$class_css_prefix}main {
  position: relative;
}

#{$class_css_prefix}wrapper {
  // display: block;
  position: relative;
  width: $size;
  height: $size;

  #{$class_css_prefix}bun {
    &:before {
      @include pill();
      top: 10%;
      right: 0;
    }

    &:after {
      @include pill();
      bottom: 10%;
      left: 0;
    }

    #{$class_css_prefix}burger {
      position: absolute;
      display: flex;
      align-items: center;
      height: $size;
      width: $size;

      &:before,
      &:after {
        @include pill();
      }
    }
  }

  input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: $size;
    height: $size;
    cursor: pointer;

    &:hover ~ .bun {
      &:before,
      &:after,
      :before,
      :after {
        background: darken($color, 5);
      }
    }

    &:checked ~ #{$class_css_prefix}bun {
      &:before,
      &:after {
        width: 0;
      }

      #{$class_css_prefix}burger {
        &:before {
          transform: rotate(135deg);
        }
        &:after {
          transform: rotate(45deg);
          box-shadow: 0 0 0 0 lighten($color, 35);
        }
      }
    }
  }
}
