@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--c-m__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

#{$class_css_prefix}title {
  @include select-none;

  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
}

#{$class_css_prefix}inner-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto 0 auto 30px;
}

#{$class_css_prefix}link {
  color: inherit;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#{$class_css_prefix}card-title {
  @include display-flex-center;

  font-size: 3em;
  font-family: "Plain Ultra Bold";
  padding: 10px 0;
  margin-right: auto;
}

#{$class_css_prefix}card-title-dark {
  color: $color-font-light;
}

#{$class_css_prefix}card-icon {
  @include display-flex-center;

  font-size: 3em;
  margin-left: 15px;
  margin-left: auto;
}

#{$class_css_prefix}card {
  background-color: $accentColor10;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
  margin: 30px;
  box-shadow: -30px 30px $color-background-dark;
  border: 0.5em solid $color-background-dark;
  transition: all 500ms, top 500ms, left 500ms;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;

  &:hover {
    top: 30px;
    left: -30px;
    box-shadow: 0 0 0 -3px $color-background-dark,
      0 0 0 0 $color-background-dark;
  }
}

#{$class_css_prefix}card-dark {
  box-shadow: -30px 30px $color-background-light;
  border: 0.5em solid $color-background-light;
  background-color: $accentColor30;
  color: $color-font-light;

  &:hover {
    top: 30px;
    left: -30px;
    box-shadow: 0 0 0 -3px $color-background-light,
      0 0 0 0 $color-background-light;
  }
}

@media only screen and (max-width: 1500px) {
  #{$class_css_prefix}title {
    font-size: 7em;
  }

  #{$class_css_prefix}card-title {
    font-size: 3em;
  }

  #{$class_css_prefix}card-icon {
    font-size: 3em;
  }
}

@media only screen and (max-width: 1050px) {
  #{$class_css_prefix}title {
    font-size: 6em;
  }

  #{$class_css_prefix}card-title {
    font-size: 2em;
  }

  #{$class_css_prefix}card-icon {
    font-size: 2em;
  }
}

@media only screen and (max-width: 850px) {
  #{$class_css_prefix}title {
    font-size: 4em;
  }

  #{$class_css_prefix}card-title {
    font-size: 1.5em;
  }

  #{$class_css_prefix}card-icon {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 550px) {
  #{$class_css_prefix}title {
    font-size: 3em;
  }

  #{$class_css_prefix}card-title {
    font-size: 1em;
  }

  #{$class_css_prefix}card-icon {
    font-size: 1em;
  }
}

@media only screen and (min-width: 2000px) {
  #{$class_css_prefix}title {
    font-size: 10em;
  }
}
