@import "src/sass/colors";
@import "src/sass/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$css_prefix: "c--r__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  border: 1px solid white;
  padding: 50px 20px;

  font-family: "Roboto", sans-serif !important;
}

#{$class_css_prefix}name {
  font-size: 5em;
}
