@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c--a__";

#{$css_prefix}main {
  padding: 100px 10px 10px 10px;
}

#{$css_prefix}inner-main {
  @include display-flex-center;
  flex-direction: column;
}

#{$css_prefix}about-text {
  max-width: 800px;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}

#{$css_prefix}font-bold {
  font-family: "Ultra Bold";
  color: $accentColor30;
}

#{$css_prefix}font-bold-dark {
  font-family: "Ultra Bold";
  color: $accentColor10;
}

#{$css_prefix}font-italic {
  font-family: "Regular Italic";
}

#{$css_prefix}font-underline {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  #{$css_prefix}about-text {
    line-height: 1.3em;
    text-align: start;
  }

  #{$css_prefix}main {
    padding-top: 100px;
  }
}
