@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "a--i--a-p--w-d__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}path {
  stroke: $accentColor30;
  fill: none;
  stroke-width: 1.5px;
}

#{$class_css_prefix}path-dark {
  fill: none;
  stroke: $accentColor10;
  stroke-width: 1.5px;
}
