@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".p--h__";

#{$css_prefix}main {
  background-color: $color-background-light;
  transition: background 500ms linear;
  position: relative;
}

#{$css_prefix}main-dark {
  background-color: $color-background-dark;
  transition: background 500ms linear;
}

#{$css_prefix}components-container {
  max-width: 1600px;
  margin: 0 auto;
}

#{$css_prefix}theme-button {
  // @include box-shadow-ver1;

  position: sticky;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
