@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--h__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#{$class_css_prefix}title {
  @include select-none;

  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
}

#{$class_css_prefix}role {
  font-size: 5em;
  font-family: "Plain Light";
  transition: font-size 300ms linear;
}

#{$class_css_prefix}button {
  @include display-flex-center;

  transform: rotate(90deg);
  transition: transform 200ms ease;
}

#{$class_css_prefix}active {
  transform: rotate(180deg);
  transition: transform 200ms ease;
}

#{$class_css_prefix}inner-body {
  // padding: 20px 0;
  @include box-shadow-ver1;
  margin: 20px 0 50px 0;
}

#{$class_css_prefix}body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#{$class_css_prefix}card {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  border-bottom: none;

  #{$class_css_prefix}description {
    font-family: "Light";
    max-width: 500px;
    line-height: 1.1em;
    flex: 1;
    padding: 15px 0 15px 15px;
    text-align: right;
  }

  #{$class_css_prefix}image {
    height: 300px;
    width: 300px;
    padding: 15px;
  }
}

#{$class_css_prefix}card-light {
  border: 1px solid black;
  border-bottom: none;
}

#{$class_css_prefix}expertise {
  display: flex;
  align-items: center;
  justify-content: center;

  #{$class_css_prefix}title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
}

#{$class_css_prefix}item-main {
  min-width: 250px;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex: 1;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  &:last-of-type {
    border-right: 1px solid white;
  }
}

#{$class_css_prefix}item-main-light {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  &:last-of-type {
    border-right: 1px solid black;
  }
}

@media only screen and (max-width: 1050px) {
  #{$class_css_prefix}title {
    font-size: 6em;
  }

  #{$class_css_prefix}role {
    font-size: 4em;
  }
}

@media only screen and (max-width: 850px) {
  #{$class_css_prefix}title {
    font-size: 4em;
  }

  #{$class_css_prefix}role {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 550px) {
  #{$class_css_prefix}title {
    font-size: 3em;
  }

  #{$class_css_prefix}role {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 2000px) {
  #{$class_css_prefix}title {
    font-size: 10em;
  }

  #{$class_css_prefix}role {
    font-size: 8em;
  }
}
