// @import "src/sass/colors";
// @import "src/sass/variables";

// $css_prefix: "p--h__";
// $class_css_prefix: ".#{$css_prefix}";

// #{$class_css_prefix}main {
//   height: calc(100% - 30px);
//   // @include display-flex-center;
//   padding-top: 20px;
//   // background-color: red;
// }

// #{$class_css_prefix}title {
//   font-size: 6em;
//   font-family: "Plain Ultra Bold";
//   transition: font-size 300ms linear;
//   margin-bottom: 5px;
//   color: $accentColor30;
//   transition: color 500ms ease;
// }

// #{$class_css_prefix}title-dark {
//   color: $accentColor10;
// }

// #{$class_css_prefix}role {
//   font-size: 1.8em;
//   line-height: 1.2em;
//   font-family: "Regular";
//   transition: font-size 300ms linear;
//   text-align: center;
//   margin-bottom: 20px;
//   color: $accentColor30;
//   transition: color 500ms ease;
//   position: absolute;
//   rotate: 90deg;
//   bottom: 0;
// }

// #{$class_css_prefix}role-dark {
//   color: $accentColor10;
// }

// #{$class_css_prefix}card-header {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

// #{$class_css_prefix}card {
//   // display: flex;
//   // flex-direction: column;
//   // padding: 40px;
//   // border-radius: 30px;
//   // max-width: 1000px;
//   // margin: 0 auto;
//   position: relative;

//   #{$class_css_prefix}description {
//     // font-family: "Plain Ultra Bold";
//     // opacity: 0.6;
//     line-height: 1.5em;
//     text-align: left;
//     font-size: 1.6em;
//     letter-spacing: 0.1em;
//     text-align: center;
//     max-width: 800px;
//     // z-index: 10;
//   }

//   #{$class_css_prefix}image {
//     height: 300px;
//     width: 300px;
//     margin-bottom: 5px;
//     position: absolute;
//     top: 0;
//   }
// }

// #{$class_css_prefix}card-light {
//   // @include neomorph-light;
// }

// #{$class_css_prefix}card-dark {
//   // @include neomorph-dark;
// }

// @media only screen and (max-width: 1440px) {
//   #{$class_css_prefix}card {
//     padding: 20px;

//     #{$class_css_prefix}description {
//       font-size: 1.4em;
//     }

//     #{$class_css_prefix}image {
//       height: 250px;
//       width: 250px;
//     }
//   }

//   #{$class_css_prefix}title {
//     font-size: 5em;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.4em;
//     margin-bottom: 10px;
//   }
// }

// @media only screen and (max-width: 1152px) {
//   #{$class_css_prefix}main {
//     display: block;
//   }

//   #{$class_css_prefix}card {
//     padding: 20px;
//     @include none;

//     #{$class_css_prefix}description {
//       font-size: 1.4em;
//     }

//     #{$class_css_prefix}image {
//       height: 250px;
//       width: 250px;
//     }
//   }

//   #{$class_css_prefix}title {
//     font-size: 5em;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.4em;
//     margin-bottom: 10px;
//   }
// }

// @media only screen and (max-width: 1024px) {
//   #{$class_css_prefix}main {
//     display: block;
//   }

//   #{$class_css_prefix}card {
//     @include none;

//     #{$class_css_prefix}description {
//       font-size: 1.2em;
//     }

//     #{$class_css_prefix}image {
//       height: 250px;
//       width: 250px;
//     }
//   }

//   #{$class_css_prefix}title {
//     font-size: 4em;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.3em;
//     margin-bottom: 10px;
//   }
// }

// @media only screen and (max-width: 800px) {
//   #{$class_css_prefix}main {
//     display: block;
//   }

//   #{$class_css_prefix}card {
//     @include none;

//     #{$class_css_prefix}description {
//       font-size: 1.2em;
//     }

//     #{$class_css_prefix}image {
//       height: 250px;
//       width: 250px;
//     }
//   }

//   #{$class_css_prefix}title {
//     font-size: 4em;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.3em;
//     margin-bottom: 10px;
//   }
// }

// @media only screen and (max-width: 600px) {
//   #{$class_css_prefix}title {
//     font-size: 4em !important;
//     // background-color: red;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.4em;
//     margin-bottom: 10px;
//   }

//   #{$class_css_prefix}card {
//     padding: 0 5px;
//     @include none;

//     #{$class_css_prefix}description {
//       font-size: 1em;
//       text-align: left;
//     }

//     #{$class_css_prefix}image {
//       height: 250px;
//       width: 250px;
//     }
//   }

//   #{$class_css_prefix}card-header {
//     display: flex;
//     align-items: flex-start;
//     flex-direction: column;
//   }

//   #{$class_css_prefix}title {
//     font-size: 5em;
//   }

//   #{$class_css_prefix}role {
//     font-size: 1.2em;
//     margin-bottom: 10px;
//   }
// }

@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".p--h__";

#{$css_prefix}main {
  background-color: $color-background-light;
  transition: background 500ms linear;
}

#{$css_prefix}main-dark {
  background-color: $color-background-dark;
  transition: background 500ms linear;
}

#{$css_prefix}components-container {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

#{$css_prefix}theme-button {
  // @include box-shadow-ver1;

  position: sticky;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#{$css_prefix}container {
  min-height: 100vh;
}
