@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "c--l--h__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid $color-background-dark;
  background-color: $color-background-light;
}

#{$class_css_prefix}inner-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#{$class_css_prefix}main-dark {
  transition: all 500ms linear;
  background-color: $color-background-dark;
  border-bottom: 1px solid $color-background-light;
}

#{$class_css_prefix}lang-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;

  #{$class_css_prefix}icon {
    @include display-flex-center;
  }

  #{$class_css_prefix}text {
    margin: 5px 0 0 10px;
  }
}

#{$class_css_prefix}menu {
  position: relative;
  margin-right: 5px;
}

#{$class_css_prefix}icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#{$class_css_prefix}toggle-theme-main {
  display: flex;
  align-items: center;

  &:hover {
    #{$class_css_prefix}toggle-theme-title {
      opacity: 1;
      animation: fadeInLeft 500ms linear;
      display: flex;
      transition: opacity 500ms linear;
    }
  }
}

#{$class_css_prefix}toggle-theme-title {
  margin-left: 5px;
  opacity: 0;
  display: none;
  transition: opacity 500ms linear;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
