@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "c--l--h__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid $color-background-dark;
  background-color: $color-background-light;
}

#{$class_css_prefix}inner-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#{$class_css_prefix}main-dark {
  transition: all 500ms linear;
  background-color: $color-background-dark;
  border-bottom: 1px solid $color-background-light;
}

#{$class_css_prefix}lang-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;

  #{$class_css_prefix}icon {
    @include display-flex-center;
  }

  #{$class_css_prefix}text {
    margin: 5px 0 0 10px;
  }
}

#{$class_css_prefix}menu {
  position: relative;
  margin-right: 5px;
}

#{$class_css_prefix}icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#{$class_css_prefix}toggle-theme-main {
  display: flex;
  align-items: center;

  &:hover {
    #{$class_css_prefix}toggle-theme-title {
      opacity: 1;
      animation: fadeInLeft 500ms linear;
      display: flex;
      transition: opacity 500ms linear;
    }
  }
}

#{$class_css_prefix}toggle-theme-title {
  margin-left: 5px;
  opacity: 0;
  display: none;
  transition: opacity 500ms linear;
}

#{$class_css_prefix}links {
  display: flex;
  margin-left: auto;
}

#{$class_css_prefix}resume-button {
  margin-left: 20px;
}

#{$class_css_prefix}link-item {
  @include select-none;

  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  font-size: 1.6em;
  align-items: center;
  cursor: pointer;
}

#{$class_css_prefix}link-item-title {
  font-family: "Regular";
  transition: color 200ms ease;

  &:hover {
    transition: color 200ms ease;
    color: $accentColor30;
  }
}

#{$class_css_prefix}link-item-title-dark {
  font-family: "Regular";
  transition: color 200ms ease;

  &:hover {
    transition: color 200ms ease;
    color: $accentColor10;
  }
}

#{$class_css_prefix}menu {
  display: none;
  margin-left: auto;
}

#{$class_css_prefix}button-link {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 800px) {
  #{$class_css_prefix}menu {
    display: flex;
  }

  #{$class_css_prefix}links {
    display: none;
  }

  #{$class_css_prefix}resume-button {
    display: none;
  }
}
