@import 'src/sass/colors';

$css_prefix: 'c--l--h__';
$class_css_prefix: '.#{$css_prefix}';

#{$class_css_prefix}main {
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

#{$class_css_prefix}title-main {
  display: flex;
  max-height: 20px;
  margin-left: auto;

  #{$class_css_prefix}link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 12px;
    margin-top: 3px;
  }

  #{$class_css_prefix}title {
    font-family: 'Plain Light';
    text-decoration: none;
    margin: 5px 5px 0 15px;
    color: $color-dark-800;
    padding: 0;
    cursor: pointer;
    align-self: center;
  }

  #{$class_css_prefix}menu {
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 20px;
  }
}

#{$class_css_prefix}icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
