@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c-c__";

#{$css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px 10px 10px;
}

#{$css_prefix}title {
  margin: 10px 0 24px 0;
}

#{$css_prefix}input {
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid $border;
  resize: none;
  border-radius: 7px;
  font-family: "Plain Light Italic" !important;
  font-size: 18px;
  background-color: $color-background-light;
}

#{$css_prefix}dark-input {
  background-color: $color-background-dark;

  color: $accentColor10;
}

#{$css_prefix}form-container {
  @include glass-light;

  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  min-width: 300px;
  //   flex: 1;
}

#{$css_prefix}button {
  min-width: 120px;

  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Ultra Bold';
  padding: 12px 0 10px 0;
  font-size: 16px;
  color: $color-font-light;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto
}
