@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".c-c__";

#{$css_prefix}main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 10px 10px 10px;
}

#{$css_prefix}title {
  margin: 10px 0 24px 0;
}

#{$css_prefix}input {
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid $border;
  resize: none;
  border-radius: 7px;
  font-family: "Plain Light Italic" !important;
  font-size: 18px;
  background-color: $color-background-light;

  @include box-shadow-ver1;
}

#{$css_prefix}dark-input {
  background-color: $color-background-dark;

  color: $accentColor10;
}

#{$css_prefix}form-container {
  @include glass-light;

  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  min-width: 600px;
  //   flex: 1;
}

#{$css_prefix}button {
  min-width: 120px;

  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'Ultra Bold';
  padding: 12px 0 10px 0;
  font-size: 16px;
  color: $color-font-light;
  cursor: pointer;
  margin-top: 10px;
  margin-left: auto
}

#{$css_prefix}button-light {
  @include background-animation-dark;
  border-bottom: 4px solid $accentColor30;

  background-color: rgba($color: $accentColor30, $alpha: 0.3);
  &:hover {
    #{$css_prefix}title {
      color: $color-font-light;
    }

    #{$css_prefix}icon {
      color: $color-font-light;
    }
  }

  border-radius: 25px;
}

#{$css_prefix}button-dark {
  @include background-animation-light;
  background-color: rgba($color: $accentColor10, $alpha: 0.3);
  border-bottom: 4px solid $accentColor10;

  &:hover {
    background-color: rgba($color: $accentColor10, $alpha: 1);

    #{$css_prefix}title {
      color: $color-font-dark;
    }

    #{$css_prefix}icon {
      color: $color-font-dark;
    }
  }
  border-radius: 25px;
  color: #fff;
}

#{$css_prefix}form-container-dark {
  @include glass-dark;
}

@media only screen and (max-width: 600px) {
  #{$css_prefix}form-container {
    min-width: 300px;
  }

  #{$css_prefix}main {
    display: block;
  }
}
