@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--e__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#{$class_css_prefix}body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 30px;
}

#{$class_css_prefix}tab-main {
  // padding: 20px;
  // margin: 20px;
}

#{$class_css_prefix}title {
  @include select-none;

  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
}

#{$class_css_prefix}item-main {
  display: flex;
  margin-top: 50px;
}

#{$class_css_prefix}employment-item-main-light {
  @include neomorph-light;
}

#{$class_css_prefix}employment-item-main-dark {
  @include neomorph-dark;
}

#{$class_css_prefix}employment-item-main {
  opacity: 0;
  transition: all 500ms ease;
  display: none;
  transition: all 500ms ease;
  border-radius: 50px;
  padding: 50px;
  max-width: 800px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#{$class_css_prefix}logo {
  height: 40px;
  width: fit-content;
  filter: grayscale(100%);
  margin: 20px 10px 0 auto;
}

#{$class_css_prefix}company-name {
  margin-left: auto;
  font-size: 2em;
}

#{$class_css_prefix}designation {
  font-family: "Plain Ultra Bold";
  font-size: 3em;
  flex: 1;
}

#{$class_css_prefix}container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#{$class_css_prefix}footer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#{$class_css_prefix}links {
  margin-left: 15px;
}

#{$class_css_prefix}company-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#{$class_css_prefix}date-container {
  display: flex;
  align-items: center;
}

#{$class_css_prefix}image {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 5px;
}

#{$class_css_prefix}role {
  margin-top: 10px;
  display: flex;
  line-height: 1.5em;
  align-items: flex-start;
}

#{$class_css_prefix}role-icon {
  @include display-flex-center;
  margin-top: 3px;
}

#{$class_css_prefix}hypen {
  margin-inline: 5px;
}

@media only screen and (max-width: 1440px) {
  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 1152px) {
  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
  }

  #{$class_css_prefix}employment-item-main-light {
    @include none;
  }

  #{$class_css_prefix}employment-item-main-dark {
    @include none;
  }
}

@media only screen and (max-width: 850px) {
  #{$class_css_prefix}title {
    font-size: 6em;
  }

  #{$class_css_prefix}employment-item-main {
    padding: 0;
  }
}

@media only screen and (max-width: 650px) {
  #{$class_css_prefix}title {
    font-size: 4em;
  }

  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #{$class_css_prefix}employment-item-main-shown {
    @include none;
    padding: 5px;
    border-radius: 0;
  }
}
