@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--s__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

#{$class_css_prefix}title {
  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
  margin-bottom: 20px;
}

#{$class_css_prefix}body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#{$class_css_prefix}inner-main {
  display: flex;
  flex-direction: row;
}

#{$class_css_prefix}tab-line {
  width: 5px;

  margin-right: -5px;
  position: relative;
}

#{$class_css_prefix}active-tab-line {
  position: absolute;
  background-color: $accentColor30;
  width: 10px;
  height: 50px;
  left: -2.5px;
  top: 0;
}

#{$class_css_prefix}active-tab-line-dark {
  background-color: $accentColor10;
}

#{$class_css_prefix}programming_languages {
  top: 0;
  transition: top 500ms ease;
}

#{$class_css_prefix}backend {
  top: 62px;
  transition: top 500ms ease;
}

#{$class_css_prefix}frontend {
  top: 130px;
  transition: top 500ms ease;
}

#{$class_css_prefix}tools_platforms {
  top: 196px;
  transition: top 500ms ease;
}

#{$class_css_prefix}querying_languages {
  top: 262px;
  transition: top 500ms ease;
}

#{$class_css_prefix} #{$class_css_prefix}tabs {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: flex-end;
  justify-content: center;
}

#{$class_css_prefix}tab {
  @include select-none;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 10px 35px 25px;
  // max-width: 120px;
  margin-right: 40px;
  font-family: "Plain Ultra Bold";
  font-size: 1em;
  // opacity: 0.6;
  border-left: 5px solid rgba($color: $accentColor30, $alpha: 0.3);

  &:last-of-type {
    padding-bottom: 15px;
  }
}

#{$class_css_prefix}tab-dark {
  border-left: 5px solid rgba($color: $accentColor10, $alpha: 0.3);
}

#{$class_css_prefix}tab-active {
  #{$class_css_prefix}tab-title {
    opacity: 1;
  }

  transition: opacity 500ms ease;
}

#{$class_css_prefix}tab-title {
  // background-color: red;
  opacity: 0.5;
}

#{$class_css_prefix}skills-inner-main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  height: 400px;
  padding: 50px;
  border-radius: 50px;
  margin: 0 0 0 20px;
  @include neomorph-light;
}

#{$class_css_prefix}skills-inner-main-dark {
  @include neomorph-dark;
}

#{$class_css_prefix}category-text {
  font-family: "Ultra Bold";
  font-size: 2.2em;
  margin-left: 5px;
  margin-bottom: 10px;
}

#{$class_css_prefix}items-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

#{$class_css_prefix}skills-item-main {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 0 0;
  min-width: 150px;
  max-width: 170px;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  top: 0;
  position: relative;

  &:hover {
    top: -10px;
    transition: all 500ms ease;

    #{$class_css_prefix}skills-item-icon {
      filter: none;
    }
  }
}

#{$class_css_prefix}skills-item-title {
  margin-top: 10px;
  font-family: "Plain Light";
  text-align: center;
}

#{$class_css_prefix}skills-item-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
  // filter: grayscale(100%);
}

@media only screen and (max-width: 800px) {
  #{$class_css_prefix}tab-line {
    display: none;
  }

  #{$class_css_prefix}tabs {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  #{$class_css_prefix}title {
    font-size: 4em;
  }

  #{$class_css_prefix}skills-inner-main {
    margin-right: 0;
  }

  #{$class_css_prefix}skills-item-main {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    min-width: 320px;
  }

  #{$class_css_prefix}skills-item-title {
    margin-bottom: 0;
  }

  #{$class_css_prefix}skills-item-icon {
    width: 50px;
    height: 50px;
  }

  #{$class_css_prefix}category-text {
    font-family: "Ultra Bold";
    font-size: 1.2em;
    margin-left: 5px;
    margin-top: 20px;
    text-align: center;
    // background-color: red;
    width: 100%;
  }
}
