@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--s__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 5px;
}

#{$class_css_prefix}title {
  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
  margin-bottom: 20px;
}

#{$class_css_prefix}body {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // flex: 1;
}

#{$class_css_prefix}tab-main {
  // flex: 1;
}

#{$class_css_prefix}inner-main {
  display: flex;
  flex-direction: row;
}

#{$class_css_prefix}item-main {
  // min-width: 1000px;
  // max-width: 1000px;
  // flex: 1;
  padding: 0 20px;
}

#{$class_css_prefix}skills-inner-main {
  // flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 50px;
  border-radius: 50px;
  // margin: 0 0 0 20px;
  @include neomorph-light;
}

#{$class_css_prefix}skills-inner-main-dark {
  @include neomorph-dark;
}

#{$class_css_prefix}category-text {
  font-family: "Ultra Bold";
  font-size: 2.2em;
  margin-left: 5px;
  margin-bottom: 10px;
}

#{$class_css_prefix}skills-item-main {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 0 0;
  min-width: 150px;
  max-width: 170px;
  align-items: center;
  justify-content: center;
  top: 0;
  position: relative;

  &:hover {
    top: -10px;
    transition: all 500ms ease;

    #{$class_css_prefix}skills-item-icon {
      filter: none;
    }
  }
}

#{$class_css_prefix}skills-item-title {
  margin-top: 10px;
  font-family: "Plain Light";
  text-align: center;
}

#{$class_css_prefix}skills-item-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
  // filter: grayscale(100%);
}

@media only screen and (max-width: 1440px) {
  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #{$class_css_prefix}skills-inner-main {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 1152px) {
  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // #{$class_css_prefix}item-main {
  //   max-width: 800px;
  // }

  #{$class_css_prefix}skills-inner-main {
    margin-top: 30px;
    display: flex;
    // flex-direction: c;
  }
}

@media only screen and (max-width: 850px) {
  #{$class_css_prefix}main {
    height: calc(100% - 30px);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    display: block;
    // padding: 5px;
  }

  #{$class_css_prefix}title {
    font-size: 6em;
  }

  #{$class_css_prefix}skills-inner-main {
    @include none;
  }

  #{$class_css_prefix}skills-inner-main-dark {
    @include none;
  }

  #{$class_css_prefix}skills-inner-main {
    padding: 10px;
    border-radius: 0;
  }
}

@media only screen and (max-width: 650px) {
  #{$class_css_prefix}body {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: flex-start;
  }

  #{$class_css_prefix}employment-item-main-shown {
    @include none;
    padding: 5px;
    border-radius: 0;
  }
}
