@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "p--s__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#{$class_css_prefix}title {
  font-size: 8em;
  font-family: "Plain Ultra Bold";
  transition: font-size 300ms linear;
}

#{$class_css_prefix}image {
  width: 150px;
  height: 150px;
}

#{$class_css_prefix}skills-title {
  @include select-none;

  margin-top: 20px;
  display: flex;
  cursor: pointer;
}

#{$class_css_prefix}category-text {
  font-family: "Plain Ultra Bold";
  font-size: 2.2em;
  flex: 1;
}

#{$class_css_prefix}category-button {
  @include display-flex-center;

  font-size: 2.2em;
  margin-left: 10px;
  transition: transform 500ms linear;
  transform: rotate(0deg);
}

#{$class_css_prefix}category-button-active {
  transform: rotate(90deg);
  transition: transform 500ms linear;
}

#{$class_css_prefix}skills-items-shown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // overflow: hidden;
  // transition: transform 0.3s ease-out; // note that we're transitioning transform, not height!
  // height: auto;
  // transform: scaleY(1); // implicit, but good to specify explicitly
  // transform-origin: top; // keep the top of the element in the same place. this is optional.
}

#{$class_css_prefix}skills-items-hidden {
  // transform: scaleY(0); // *squish*
  background-color: red;
  padding: 20px;
}

#{$class_css_prefix}skills-item-main {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0 0;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#{$class_css_prefix}skills-item-title {
  @include display-flex-center;

  font-family: "Plain Ultra Bold";
  font-size: 1.3em;
  text-align: center;
  min-height: 50px;
  margin-bottom: 10px;
  // max-width: 150px;\
}

#{$class_css_prefix}skills-title-icon {
  @include display-flex-center;

  font-size: 20px;
  transform: rotate(0deg);
  transition: transform 200ms linear;
}

#{$class_css_prefix}skills-title-icon-active {
  transform: rotate(90deg);
  transition: transform 200ms linear;
}

#{$class_css_prefix}skills-item-icon {
  width: 100px;
  height: 100px;
}

#{$class_css_prefix}skills-items-shown {
  height: 100%;
  transition: height 500ms linear;
}

#{$class_css_prefix}skills-items-hidden {
  height: 0;
  overflow: hidden;
  transition: height 500ms linear;
}

@media only screen and (max-width: 650px) {
  #{$class_css_prefix}title {
    font-size: 4em;
  }

  #{$class_css_prefix}skills-item-main {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    min-width: 320px;
  }

  #{$class_css_prefix}skills-item-title {
    margin-bottom: 0;
  }

  #{$class_css_prefix}skills-item-icon {
    width: 50px;
    height: 50px;
  }
}
