@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "c--l--c--p-c__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#{$class_css_prefix}container {
  flex: 1;
}

#{$class_css_prefix}main-dark {
  background-color: $color-background-dark;
  color: $color-font-light;
  transition: background-color 200ms linear;
}

#{$class_css_prefix}main-light {
  background-color: $color-background-light;
  color: $color-font-dark;
  transition: background-color 200ms linear;
}

#{$class_css_prefix}inner-main {
  max-width: $maxWidth;
  margin: 0 auto;
  height: 100%;
}
