@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: "c--l--f__";
$class_css_prefix: ".#{$css_prefix}";

#{$class_css_prefix}main {
  @include display-flex-center;
}

#{$class_css_prefix}main-dark {
  color: $color-font-light;
}

#{$class_css_prefix}body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 5px 5px;
  transition: opacity 500ms linear;
  width: 100%;

  &:hover {
    transition: opacity 500ms linear;
  }
}

#{$class_css_prefix}text {
  margin-right: 6px;
  margin-top: 3px;
  font-size: 13px;
  font-family: "Light";
}

#{$class_css_prefix}body-logo {
  height: 20px;
  width: 20px;
}

#{$class_css_prefix}typescript-logo {
  @include display-flex-center;

  color: darkblue;
  font-size: 20px;
  margin-left: 5px;
}

#{$class_css_prefix}copyright-container {
  flex: 1;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

#{$class_css_prefix}copyright-icon {
  @include display-flex-center;
}

#{$class_css_prefix}copyright-text {
  font-size: 13px;
  margin-top: 5px;
  margin-left: 5px;
}

#{$class_css_prefix}icons {
  margin-left: 10px;
}
