@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".l__";

#{$css_prefix}main {
  background-color: $color-background-light;
  transition: background 200ms linear;
  position: relative;
}

#{$css_prefix}main-dark {
  color: $color-font-light;

  background-color: $color-background-dark;
  transition: background 200ms linear;
}

#{$css_prefix}theme-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  width: min-content;
  border-radius: 50%;
  background-color: $color-background-light;
}

#{$css_prefix}theme-button-dark {
  background-color: $color-background-dark;
}
