@import "src/sass/colors";
@import "src/sass/variables";

$css_prefix: ".l__";

#{$css_prefix}main {
  // background-color: $color-background-light;
  // transition: background 200ms linear;

  background-image: radial-gradient(
    circle,
    #c2ddb7,
    #e0cfa6,
    #f2c0ad,
    #efb7c5,
    #d2b7dd
  );

  position: relative;
}

#{$css_prefix}main-dark {
  color: $color-font-light;

  // background-color: $color-background-dark;
  background-image: radial-gradient(
    circle,
    #338e0f,
    #866a00,
    #af2e01,
    #ae004e,
    #6a0f8e
  );
  transition: background 200ms linear;
}

#{$css_prefix}theme-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  width: min-content;
  border-radius: 50%;
  background-color: $color-background-light;
}

#{$css_prefix}theme-button-dark {
  background-color: $color-background-dark;
}
